<mat-toolbar class="toolbarStyle" color="primary">
  <span>BSBank</span>
</mat-toolbar>

<div class="container">

  <!-- Customer -->
  <div class="elementContainer">
    <h3 style="text-align: center;">BSBank Customers</h3>

    <div (click)="SetCustomer(customer)" *ngFor="let customer of customers; let i = index;" class="itemStyle">

      <div class="FLStyle">
        <span style="margin-right: 5px;">{{customer.firstName}}</span>
        <span>{{customer.lastName}}</span>
      </div>

      <div class="emailStyle">{{customer.email}}</div>

    </div>

    <div style="text-align: center;">
      <button (click)="createCustomer = true" mat-button color="primary">Add Customer</button>
    </div>

    <div *ngIf="customers.length == 0 && createCustomer == false">
      BSBank don't have a customers. Add one? 
    </div>

    <div class="addStyle" *ngIf="createCustomer == true">
      <h4>Add Customer:</h4>

      <mat-form-field class="example-form-field">
        <mat-label>First Name</mat-label>
        <input matInput type="text" [(ngModel)]="firstName">
        @if (firstName) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="firstName = ''">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" [(ngModel)]="lastName">
        @if (lastName) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="lastName = ''">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email">
        @if (email) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="email = ''">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
            
      <button mat-button color="primary" (click)="AddCustomer()" >Add Customer</button>
    </div>

  </div>
  <!-- End Customer -->

  <!-- Accounts -->
  <div class="elementContainer">
    <h3 style="text-align: center;"><span *ngIf="selectedCustomer">{{selectedCustomer.firstName}}'s</span> Accounts</h3>

    <div *ngFor="let account of customerAccounts; let i = index" class="itemStyle">
   
      <div>
        <div>AccountId: {{account.accountId}}</div>
        <div>Balance: {{account.balance}}$</div>
      </div>

    </div>

    <div *ngIf="customers.length != 0" style="text-align: center;">
      <button (click)="createAccount = true" mat-button color="primary">Create Account</button>
    </div>

    <div *ngIf="customerAccounts.length == 0 && createAccount == false && customers.length != 0">
      {{selectedCustomer?.firstName}} don't have an account. Create one? 
    </div>

    <div class="addStyle" *ngIf="createAccount == true">
      <h4>Add Account:</h4>

      <mat-form-field class="example-form-field">
        <mat-label>Initial Credit</mat-label>
        <input matInput type="number" [(ngModel)]="initialCredit" [min]="0" appNumberOnly (keyup)="onKeyUp($event)">
        @if (initialCredit) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="initialCredit = 0">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      
      <mat-label>Amount: {{initialCredit}} $</mat-label> 
      
      <button mat-button color="primary" (click)="openAccount()" >Add Account</button>
    </div>

  </div>
  <!-- End Accounts -->

  <!-- Transactions -->
  <div class="elementContainer">

    <h3 style="text-align: center;"><span *ngIf="selectedCustomer">{{selectedCustomer.firstName}}'s</span> Transactions</h3>

    <div *ngFor="let transaction of customerTransactions; let i = index" class="itemStyle">
      <div>
        <div>AccountId: {{transaction.accountId}}</div>
        <div>Transaction Date: {{transaction.transactionDate | date:'HH:mm dd/MM/yyyy' }}</div>
        <div>Transaction Type: {{transaction.transactionType | transactionTypeText}}</div>
        <div>Transaction Amount: {{transaction.amount}} $</div>
      </div>
    </div>

    <div *ngIf="customers.length != 0 && customerAccounts.length != 0" style="text-align: center;">
      <button (click)="makeTransaction = true" mat-button color="primary">Make Transaction</button>
    </div>

    <div *ngIf="customerTransactions.length == 0 && makeTransaction == false && customers.length != 0 && customerAccounts.length != 0">
      {{selectedCustomer?.firstName}} don't have a transactions. Make one?
    </div>

    <div class="addStyle" *ngIf="makeTransaction == true">
      <h4>Make Transaction:</h4>

      <mat-form-field>
        <mat-label>Select Transfer Type</mat-label>
        <mat-select [(value)]="transactionTypeSelected" (selectionChange)="onTransactionTypeChange()">
          @for (transactionType of TransactionTypes; track transactionType) {
            <mat-option [value]="transactionType">{{transactionType | transactionTypeText}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Your Account</mat-label>
        <mat-select [(value)]="fromAccount" (selectionChange)="onTransactionTypeChange()">
          @for (customerAccount of customerAccounts; track customerAccount) {
            <mat-option [value]="customerAccount.accountId">{{customerAccount.accountId}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Destination Account</mat-label>
        <mat-select [(value)]="toAccount" [disabled]="toAccountDisabled">
          @for (account of allAccounts; track account) {
            <mat-option [value]="account.accountId">{{account.accountId}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Transaction Amount</mat-label>
        <input matInput type="number" [(ngModel)]="transactionAmount" [min]="minAmount" appNumberOnly (keyup)="onKeyUp($event)">
        @if (transactionAmount) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="transactionAmount = 0">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      
      <button mat-button color="primary" (click)="makeTheTransaction()" >Make The Transaction</button>
    </div>

  </div>
  <!-- End Transactions -->
  
</div>